/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.download-fab {
    cursor: pointer;
}

.download-fab.mat-button {
    padding: 0;
    min-width: 40px;
}

.mat-cell {
    font-family: 'Roboto Mono', Monospaced;
    font-size: 14px;
}

.my-row.mat-row {
    min-height: 30px;
}

.mat-column-size.mat-cell,
.mat-column-size.mat-header-cell {
    flex: 0 0 10%;
    text-align: right;
    padding-right: 5%;
}

.mat-column-download.mat-cell,
.mat-column-download.mat-header-cell {
    flex: 0 0 10%;
}

.mat-column-time.mat-cell,
.mat-column-time.mat-header-cell {
    flex: 0 0 20%;
}

.title-img {
    width: 200px;
    height: auto;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.table-header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
}

.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
}

